.stream-wrapper{
    grid-column: span 10;
}

.stream-list {
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y: auto;
    height: 94vh;
}

.stream-item {
    cursor: pointer;
}


.stream-item h2, .stream-item h3, .stream-item p {
    margin: 0;
}

.stream-item h2 {
    height: 5em;
}

/* Making only the currently selected game show completely */
.stream-list:hover .stream-item {
    opacity: 0.5;
}

.stream-list:hover .stream-item:hover {
    opacity: 1;
    background-color: #f5f5f5;
}
