.game-list {
    overflow-y: auto;
    grid-column: span 2;
    height: 94vh;
}
.game-list hr {
    margin: 0
}

.game-item {
    cursor: pointer;
    /* Transition effects for opacity */
    -webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.game-item img{
    margin-top: 2px;
}

/* Making only the currently selected game show completely */
.game-list:hover .game-item, .not-active-game {
    opacity: 0.5;
}

.game-list:hover .game-item:hover, .active-game {
    opacity: 1;
    background-color: #f5f5f5;
}

