.header {
    grid-column: span 12;

    align-items: center;
    display: flex;
    background-color: #0b98de;
    color: #fff;
}

.logo {
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.site-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.site-nav li {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 14px;
    margin-left: 1em;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.site-nav li:hover {
    text-decoration: underline;
    background-color: #5FB9E5;
}